{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='Attendance.css') }}">

{% endblock %}

{% block content %}

<h1 style="align-items: center;"><b>Employee Attendance</b></h1>

<div class="scrollmenu">
    <!--Repeater -->
    <form action="{{url_for('update_attendance')}}" method="post">

    <table class="contentCenter">
        <thead>
          <tr>
            <th class="name-col">Student Name</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
            <th>31</th>
            <th class="present-col">Present</th>
          </tr>
        </thead>
        <tbody>
          {% for empAttendance in empAttendances %}  <!--Start loop to take the data from the database -->

          <tr class="student">

            <td> {{ empAttendance.first_name + ' ' + empAttendance.last_name }}</td>
            <td class="attend-col"><input type="checkbox" name="1-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="2-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="3-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="4-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="5-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="6-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="7-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="8-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="9-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="10-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="11-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="12-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="13-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="14-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="15-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="16-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="17-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="18-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="19-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="20-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="21-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="22-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="23-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="24-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="25-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="26-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="27-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="28-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="29-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="30-{{empAttendance.emp_id}}"></td>
            <td class="attend-col"><input type="checkbox" name="31-{{empAttendance.emp_id}}"></td>
            <td class="present-col">{{empAttendance.attendance}}</td>
            <td class="submit-col">
                <input type="submit" id="submit{{empAttendance.emp_id}}", value="submit">
            </td>

          </tr>
          {% endfor %} <!--End loop -->
        </tbody>
      </table>
    </form>

</div>






{% endblock %}