{% extends 'base.html' %}

{% block title %} Employee {% endblock %}

{% block content %}

<div class="w3-container">
    <h1>Employee Database</h1>

    <div class="w3-container w3-cell">
        <h3> Add Employee </h3>
        <form action="/addemp" autocomplete="on" method="POST" enctype="multipart/form-data">
        
            Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus
                size="40" required><br><br>
        
            First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name"><br><br>
        
            Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>
        
            Primary Skills:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="pri_skill"><br><br>
        
            Location:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location"><br><br>
        
            Image: <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>
        
            <button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Add
                Employee</button>
        
        </form>
    </div>
    <div class="w3-container w3-cell">
        <h3> Employee Lists: </h3>

        <table class="w3-table w3-bordered">
            <tr>
                <th>Emp ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Location</th>
            </tr>
            {% for emp in employees %}
            <tr>
                <td>{{ emp.emp_id }}</td>
                <td>{{ emp.first_name }}</td>
                <td>{{ emp.last_name }}</td>
                <td>{{ emp.location }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</div>




{% endblock %}