{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block content %}

<!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo"><span class="w3-hide-small">Welcome to</span> STTHR.</h1>
            <p>Human Resource Software.</p>
            <img src="/w3images/man_smoke.jpg" alt="boy" class="w3-image" width="992" height="1108">
        </header>

        <!-- About Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
            <h2 class="w3-text-light-grey">About Us</h2>
            <hr style="width:200px" class="w3-opacity">
            <p>STTHR is a Human Resources management practice that provides a comprehensive range of Human Resources Solutions with a business focus. 
            STTHR is the nucleus of a multidisciplinary team of Human Resources specialists and it is a dynamic organization that excels in 
            consulting and training and we are accomplished in delivering results.
            We specialize in providing professional outsourcing services for all types of entities from Malaysia and Singapore. With over 20 years of experience, we are a group of experts that is versatile in our respective fields, offering the best outsourcing services. Our job is to relieve you from the burdens of non-core functions, saving you time and money while providing you with an accurate range of services and exceptional customer focus.
            </p>

            <h3 class="w3-padding-16 w3-text-light-grey">Why choose STTHR?</h3>
            <p class="w3-wide" style="color:white">Smart Analytics</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:95%"></div>
            </div>

            <p class="w3-wide" style="color:white">HR Experts in Asia</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:85%"></div>
            </div>

            <p class="w3-wide" style="color:white">Engaged Employees</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:90%"></div>
            </div>
            
            <p class="w3-wide" style="color:white">Easy</p>
            <div class="w3-white">
                <div class="w3-dark-grey" style="height:28px;width:95%"></div>
            </div>
            <br>

            <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">150+</span><br>
                    Employee
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">7+</span><br>
                    Department
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">10+</span><br>
                    Vacant position
                </div>
                <div class="w3-quarter w3-section">
                    <span class="w3-xlarge">30+</span><br>
                    Public Holiday
                </div>
            </div>

            <!-- Testimonials -->
            <h3 class="w3-padding-24 w3-text-light-grey">Organisation Top Management</h3>

            <img src="{{url_for('static',filename='bennie.PNG')}}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                style="width:80px">
            <p><span class="w3-large w3-margin-right">Soh Ben Nie.</span> Founder of STTHR</p>
            <br>

            <img src="{{url_for('static',filename='kailok.PNG')}}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                style="width:80px">
            <p><span class="w3-large w3-margin-right">Tan Kai Lok.</span> Founder of STTHR.</p>
            <!-- End About Section -->

            <img src="{{url_for('static',filename='weilun.PNG')}}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                style="width:80px">
            <p><span class="w3-large w3-margin-right">Teh Wei Lun</span> CEO at STTHR.</p>
            <!-- End About Section -->
        </div>

        <!-- Contact Section -->
        <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
            <h2 class="w3-text-light-grey">Contact Us</h2>
            <hr style="width:200px" class="w3-opacity">

            <div class="w3-section">
                <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Address: Wangsalink, 53300 Kuala Lumpur, Federal Territory of Kuala Lumpur</p>
                <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +03 2192022130</p>
                <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: STTHR@mail.com
                </p>
            </div><br>
            <p>Let's get in touch. Send me a message:</p>

            <form action="/action_page.php" target="_blank">
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="w3-button w3-light-grey w3-padding-large" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form>
            <!-- End Contact Section -->
        </div>

{% endblock %}