{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='Leave.css') }}">


{% endblock %}

{% block content %}

<h1 style="align-items: center;"><b>Application for Leave </b></h1>


{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
           <div class="w3-panel w3-{{ category }}" role="alert"> {{ message }}</div>
        {% endfor %}
      {% endif %}
{% endwith %}

<div class="contentCenter">

    <a href="{{url_for('leaveTable')}}" style="float: right;">View</a>
    
    <form action="/applyLeave" method="post">
      <label for="empId"><b>Employee ID</b></b></label>
      <input type="text" id="empId" name="empId" placeholder="Employee ID">
  
      <label for="name"><b>Name</b></label>
      <input type="text" id="name" name="name" placeholder="Employee Name..">
  
      <label for="leaveType"><b>Type of leave</b></label>
      <select id="leaveType" name="leaveType">
        <option value="" selected disabled hidden>-Please select a leave type-</option>
        <option value="annual">Annual Leave</option>
        <option value="unpaid">Unpaid Leave</option>
        <option value="study">Study Leave</option>
      </select>

      <label for="description">Description</label>
      <input type="text" id="desc" name="desc"><br><br>
      
      <label for="strDate">Start date</label>
      <input type="date" id="datemin" name="datemin"><br><br>
      
      <label for="endDate">End date:</label>
      <input type="date" id="datemax" name="datemax"><br><br>

      Image Evidence Prove: <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>
    
      <input type="submit" value="Submit">
    </form>
    
  </div>

{% endblock %}
