{% extends 'base.html' %}

{% block title %} Payroll {% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='payroll.css') }}">

{% endblock %}

{% block content %}

<!-- Page Content -->
<div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="w3-panel w3-{{ category }}" role="alert"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">Payroll Page</h1>
    </header>

    <div class="w3-padding-64 w3-content w3-text-grey" id="addPayroll">
        <h2 class="w3-text-light-grey">Add Payroll</h2>
        <hr style="width:810px" class="w3-opacity">

        <form action="/addPayroll" method="POST">
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Employee ID" required name="EmpID"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="EmpName"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Rate Per Day" required name="EmpRate"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="OT Rate" required name="EmpOT"></p>
            <select name="EmpType" class="w3-input w3-padding-16">
                <option value="Part-Time">Part-Time</option>
                <option value="Full-Time">Full-Time</option>
            </select>
            
            <p>
                <button class="w3-button w3-light-grey w3-padding-large" type="submit">
                    ADD SALARY
                </button>
            </p>
        </form>
    </div>

    <!-- Search Employee Section -->
    <div class="w3-content w3-justify w3-text-grey" id="search" style="padding-right: 64px">
        <h2 class="w3-text-light-grey">Search Employee</h2>
        <hr style="width:510px" class="w3-opacity">
        <form action="/searchPayroll" method="POST">
            <label for="searchEmp" style="font-size: large; margin-right: 20px;">Enter Employee ID:</label>
            <input type="search" id="searchEmp" name="searchEmp" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px">
            <input type="submit" value="SEARCH" style="padding: 6px; margin-left: 10px">
            </div><br>
            {% if usr | length != 0 and empAttendance is defined and payable is defined %}
            <label for="empName" style="font-size: large; margin-right: 52px; padding-right: 78px; padding-bottom: 20px;">Employee Name:</label>
            <input type="text" id="empName" name="empName" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px;" disabled value="{{usr[2]}}"><br>
            <label for="empAttendance" style="font-size: large; margin-right: 52px; padding-right: 15px">Employee's Attendance:</label>
            <input type="text" id="empAttendance" name="empAttendance" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px" disabled value="{{empAttendance}}"><br>
            <label for="empDailyRate" style="font-size: large; margin-right: 52px; padding-right: 15px">Daily Rate:</label>
            <input type="text" id="empDailyRate" name="empDailyRate" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; margin-left: 120px" disabled value="{{usr[3]}}"><br>
            <label for="empPayable" style="font-size: large; margin-right: 114px; padding-right: 15px">Amount Payable:</label>
            <input type="text" id="empPayable" name="empPayable" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px" disabled value="{{payable}}"><br>
            <label for="empPayStatus" style="font-size: large; margin-right: 170px; padding-right: 15px">Pay Status:</label>
            <input type="text" id="empPayStatus" name="empPayStatus" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px" disabled value="{{usr[6]}}"><br>    
                
            {% else %}
            <label for="empName" style="font-size: large; margin-right: 52px; padding-right: 78px; padding-bottom: 20px;">Employee Name:</label>
            <input type="text" id="empName" name="empName" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px;" disabled><br>
            <label for="empAttendance" style="font-size: large; margin-right: 52px; padding-right: 15px">Employee's Attendance:</label>
            <input type="text" id="empAttendance" name="empAttendance" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px" disabled><br>
            <label for="empDailyRate" style="font-size: large; margin-right: 52px; padding-right: 15px">Daily Rate:</label>
            <input type="text" id="empDailyRate" name="empDailyRate" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px; margin-left: 120px" disabled><br>
            <label for="empPayable" style="font-size: large; margin-right: 114px; padding-right: 15px">Amount Payable:</label>
            <input type="text" id="empPayable" name="empPayable" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px" disabled><br>
            <label for="empPayStatus" style="font-size: large; margin-right: 170px; padding-right: 15px">Pay Status:</label>
            <input type="text" id="empPayStatus" name="empPayStatus" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px" disabled><br>    
            {% endif %}

        </form>
        {% if usr | length != 0 and empAttendance is defined and payable is defined%}
            <form action="{{ url_for('payNow', id=usr[1]) }}" method="POST">
        {% else %}
            <form action="" method="POST">
        {% endif %}
                <p>
                    {% if usr | length != 0 and empAttendance is defined and payable is defined%}
                        {% if usr[6] == 'UNPAID' %}
                            <input id="payBtn" class="w3-button w3-light-grey w3-padding-large" type="submit" style="margin-left: 220px" value="PAY NOW">
                        {% else %}
                            <input id="payBtn" class="w3-button w3-light-grey w3-padding-large" type="submit" style="margin-left: 220px" value="PAY NOW" disabled> 
                    {% endif %}

                    {% else %}
                        <input id="payBtn" class="w3-button w3-light-grey w3-padding-large" type="submit" style="margin-left: 220px" value="PAY NOW" disabled> 
                    {% endif %}
                </p>
            </form>
    </div>
    <br><br>
    <form action="/generateRep" method="POST">
        <input class="w3-button w3-light-grey w3-padding-large"type="submit" value="GENERATE PAYROLL REPORT" style= "margin-left: 400px; padding: 30px;"><br><br>
        {% if num is defined and totalAmtPaid is defined %}
            {% if num !=0 %}
                <label for="totalEmpPaid" style="font-size: large; margin-right: 52px; padding-right: 78px; padding-bottom: 20px;margin-left: 200px;">Total Number of Employee Paid:</label>
                <input type="text" id="totalEmpPaid" name="totalEmpPaid" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px;" disabled value="{{num}}"><br>
                <label for="totalAmountPaid" style="font-size: large; margin-right: 232px; padding-right: 15px; margin-left: 200px;">Total Amount Paid:</label>
                <input type="text" id="totalAmountPaid" name="totalAmountPaid" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px" disabled value="{{totalAmtPaid}}"><br>
            {% else %}
                <label for="totalEmpPaid" style="font-size: large; margin-right: 52px; padding-right: 78px; padding-bottom: 20px; margin-left: 200px;">Total Number of Employee Paid:</label>
                <input type="text" id="totalEmpPaid" name="totalEmpPaid" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px;" disabled value="0 Employee Paid"><br>
                <label for="totalAmountPaid" style="font-size: large; margin-right: 232px; padding-right: 15px; margin-left: 200px">Total Amount Paid:</label>
                <input type="text" id="totalAmountPaid" name="totalAmountPaid" style="padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px" disabled value="0 Salary Paid"><br>
            {% endif %}
        {% endif %}

    </form>
    

    <!-- Contact Section -->


{% endblock %}